body {
    text-align: justify;
    text-align-last: center;
    font-family: sans-serif;
    padding: 0 10px;
}

.basmala {
    font-family: "Amiri Quran", serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.sura-name {
    font-family: "Reem Kufi", serif;
    font-size: xx-large;
    text-align: center;
}

.sura {
    font-family: "Amiri Quran", serif;
    font-size: xx-large;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 10px;
    padding: 1em;
    min-width: 150px;
}

.item {
    min-width: 150px;
    border: thick double #32a1ce;
}