@font-face {
  font-family: "WII";
  src: url("../fonts/wii.otf");
}

#settingsLabel{ 
  position: absolute;
  left: 15%;
  bottom: 0px;
  max-height: 5%;
  height: 20vh;
  width: 20vh;
  border-bottom: 1px solid gray;
  padding-bottom: 6vh;
  padding-left: 1%;
}

.label{
  font-size: 3.5vh;
  display:inline-block;
  white-space: nowrap;    
  font-family: "WII";
  color: transparent;
  text-shadow: 0 0 0.07em rgba(0,0,0,100);
  border-top-left-radius: 2vh;
  border-top-right-radius: 5vh;
  border-bottom: 1px solid gray;
  padding: 1% 20% 1% 5%;
  background-color: #ffffff;
  margin-top: 2vh;
}

form{
  height: 96%;
  max-height: 96%;
  width: 100vh;
  margin: 0 auto;
}


/*styles for misc inputs*/
.miscOptions{
  font-size: 3vh;
  font-family: "WII";
  min-height: 2em;
  width: 35em;  
  border-radius: 0 .7em .7em .7em;
}


/*language container*/
#langWrapper{
  height: 96%;
  max-height: 96% !important;
  padding-top: 2vh;
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4(1fr);
}


/*Logos*/
.channelButton > img{
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  justify-content: stretch;
}

#remChannelWrapper::-webkit-scrollbar{
  display: none;
}

/*Toggle*/
#musToggle{
  display: flex;
  margin: 0;
  padding: 0;
}

/*language scaling fixes*/
*[lang="ru"], #settingsLabel[lang="gr"]{ font-size: 2vh;}
.channelButton[lang="ru"] { font-size: 3vh;}
#playPlaylist[lang="ru"], #playChannel[lang="ru"] {   font-size: 1.5vh;}
