*{
	padding: 0px;
	margin: 0px;
	background-color: rgb(0,170,255);
	font-family: arial;
}

h1{
	font-family: sans-serif;
	margin-top: 1%;
	font-size: 0.7cm;
	color: orange;
	background-color: black;
	animation: colorchange 2s linear infinite;
}


@keyframes colorchange
{
	0%
	{
		color: white;
	}
	20%
	{
		color:red;
	}
	40%
	{
		color: cyan;
	}
	60%
	{
		color: yellow;
	}
	80%
	{
		color: magenta;
	}
	100%
	{
		color: orange;
	}
}

div{
	margin-top: 0px; 
}

#textDocName,#wordDocName{
   font-size: 15px;
   padding: 3px;
   padding-left: 10px;
   background-color: white;
   border: 2px solid black;
   border-radius: 20px;
}

#textDocName:hover,#wordDocName:hover{
   font-size: 15px;
   padding: 3px;
   padding-left: 10px;
   background-color: white;
   border: 2px solid black;
   box-shadow: 0 0 15px;
   border-radius: 20px;
}

#button{
	background-color: yellow;
	color: black;
	font-size: 13px;
	font-weight: bold;
	margin: 2px;
	padding: 5px;
	font-family: arial;
	border:2px solid b  lack;
	border-radius: 10px;
}

#button:hover{
	background-color: black;
	color: yellow;
	font-size: 13px;
	font-weight: bold;
	margin: 2px;
	padding: 5px;
	font-family: arial;
	border:2px solid yellow;
	border-radius: 10px;
	box-shadow: 0 0 10px black;
}

label{
	font-size: 100%;
	color: black;
	font-weight: bolder;
}

#optn{
	background-color: white;
}

textarea{
	font-size: 10px;
	font-family: arial;
	padding: 4px;
	background-color: #fff;
	box-shadow: 0px 0px 30px black;
	animation: area 1s linear 1;
}
#textInput{
	height: 6in;
	width: 95%;
}

@keyframes area
{
	0%
	{
	   transform: scaleX(0);	
	}
	100%
	{
		transform: scaleX(1);
	}
}

